.search-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--medium);
  font-family: "Poppins", serial;
  font-weight: 600;
  font-size: 16px;
  width: 320px;

  & .search-inputs-div {
    & form {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      margin-inline: 30px;
      & > * {
        margin-bottom: 15px;
      }
      & > input {
        padding-block: 15px;
        border-width: 0px;
        border-radius: 5px;
        margin-bottom: 25px;
        background-color: var(--reallydark);
        padding-left: 16px;
        font-size: 25px;
        color: var(--white);

        &::placeholder {
          color: var(--placeholder);
          font-size: 25px;
          transform: translateY(3px);
          text-vertical-align: text-bottom;
        }
      }

      & .type-selection {
        font-size: 15px;
        display: flex;
        justify-content: space-between;

        & .type-div {
          width: 125px;
          & label {
            padding-block: 5px;
            padding-left: 10px;
            &:hover {
              cursor: grab;
            }
          }

          & input {
            margin-right: 10px;
            &:hover {
              cursor: grab;
            }
          }
        }
      }

      & select {
        padding-block: 15px;
        border-width: 0px;
        border-radius: 4px;
        margin-bottom: 25px;
        font-weight: 800;
        font-size: 16px;
        color: var(--white);
        background-color: var(--reallydark);
        padding-inline: 10px;

        &:hover {
          cursor: grab;
        }
      }

      & > div {
        display: flex;
        flex-wrap: wrap;
      }

      & > div div {
        background-color: var(--reallydark);
        border-radius: 4px;
        margin-bottom: 8px;
        margin-right: 10px;
        padding-block: 0px;
        padding-inline: 0px;
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0px;
      }
      & > .options div {
        width: 100%;
        display: flex;
        align-items: center;

        & > label {
          padding-block: 7px;
          padding-left: 10px;
          &:hover {
            cursor: grab;
          }
        }

        & > input {
          margin-right: 10px;
          &:hover {
            cursor: grab;
          }
        }
      }
    }
  }

  & .search-infos-div {
    margin-bottom: 30px;
    margin-inline: 30px;
  }
}
