@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --reallydark: #1e2124;
  --dark: #282b30;
  --lessdark: #36393e;
  --medium: #424549;
  --placeholder: #8a8a8a;
  --maincolor: #7289da;
  --white: #ffffff;
  --pokemon-div-separation: #8888886c;
}

* {
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--reallydark);
  padding-block: 10px;
  color: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  height: 937px;
}

.hidden {
  display: none;
  /* visibility: hidden; */
}
